<div class="container">
  <h1>Submit a New Item <small>Sell your old stuff</small></h1>
  <hr>
  <%= simple_form_for @item do |f| %>
    <%= f.input :title %>
    <%= f.input :summary, as: :text %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.input :category, :collection => ['clothing', 'furniture', 'electronics', 'housing', 'school', 'services', 'misc'] %>
    <%= f.button :submit %>
  <% end %>
</div>
